.table-header {
  position: relative;
  width: 100%;
  height: 40px;
  text-align: start;
  color: var(--second-color);
  border-bottom: 1px solid #eee;
  z-index: 1;

  .table-header-data {
    position: relative;
    text-align: start;
    background-color: transparent;
    padding: 0 10px;
    text-transform: capitalize;
    font-size: 14px;
    z-index: 2;
    font-weight: 400;
    font-family: var(--font-regular);
    color: var(--second-color);
    white-space: pre;
  }
}
